.b1 {
    background: white;
    color: #fff;
    border: none;
    font-weight: bold;
  }

  .b2 {
    background: none;
    color: #fff;
    border: none;
    font-weight: bold;
  }

  
  .b3 {
    background: #fff;
    color: #fff;
    border: none;
    font-weight: bold;
  }

  .b4 {
    background: #fff;
    color: #fff;
    border: none;
    font-weight: bold;
  }

  .b5 {
    background: #fff;
    color: #fff;
    border: none;
    font-weight: bold;
  }